/* Extra extra large screens */
@media (min-width: 1400px) {
}

/* Extra large screens */
@media (max-width: 1200px) {
  .ot-logo-color {
    width: 200px;
    height: auto;
  }

  .navbar-collapse .navbar-nav .nav-link {
    font-size: 14px;
  }

  .nav-end h4 {
    font-size: 18px;
  }

  .nav-end .nav .nav-link {
    font-size: 14px;
  }

  .team-img {
    width: 290px;
    height: 290px;
  }
}

/* Large screens */
@media (max-width: 992px) {
  .hero-description {
    margin: 0 1.5rem 0 1.5rem;
  }
}

/* Medium screens */
@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
  }

  .hero-title {
    margin: 0 1.5rem 0 1.5rem;
  }

  .hero .hero-title h4 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px !important;
  }
}
