$body-bg: #f4f4f4;
$font-family-base: "Figtree";
$section-bg-color: #004f24;
$title-text-color: #3aaa35;
$secondary-text-color: #3a3a3a;

.bg-section-bg-color {
  background-color: $section-bg-color;
}

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Text Color: #3aaa35;
// Secondary text color: #3a3a3a
// Background Color: #004f24
